.clients {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients-title {
  margin-bottom: 30px;
  color: $title-text-color;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
}
.clients-list {
  display: flex;
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
  margin: -15px;
}

.link.hover-svg {
  display: flex;
  width: 100%;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: border $timing cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}
.client-list-item {
  display: block;
  margin: 15px;

  @media screen and (max-width: 767px) {
    width: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 90px) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% -180px) / 6);
  }
}
