.hero {
  width: 100vw;
  max-width: 1600px;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;

  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/Hero.jpg);
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: $hero-bcg;
}
