.worklist-button {
  padding: 6px 22px;
  background-color: $wl-button-color;
  color: $wl-text-button-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  border-radius: 4px;
  border: 0px;
  transition: color $timing cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color $timing cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $bcg-color;
  }
}
.button-list-item:not(:last-child) {
  margin-right: 8px;
}

.pf-button-list {
  display: flex;
  justify-content: center;
}
