.footer-container {
  &:first-child {
    margin-right: 70px;
  }
  &:nth-child(2) {
    margin-right: 93px;
  }

  & .logo {
    color: $bcg-color;
    transition: color $timing cubic-bezier(0.4, 0, 0.2, 1);
  }
  & .logo:hover,
  & .logo:focus {
    color: $accent-color;
  }

  & .networks {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
  }

  & .logo.link {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  & .button {
    position: relative;
    display: flex;
    width: 200px;
    height: 50px;
    padding: 10px 62px 10px 29px;
    font-size: 16px;
    line-height: 1.87;
    font-weight: bold;
  }
}
