.contact.list {
  .item:nth-child(1) {
    @media screen and (max-width: 767px) {
      padding-bottom: 16px;
    }

    @media screen and (min-width: 768px) {
      .item:nth-child(1) {
        padding-bottom: 10px;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    .item + .item {
      margin-left: 30px;
    }
    align-items: center;
  }

  a {
    color: $main-color;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.17;
    transition: color $timing cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $accent-color;
    }
    @media screen and (max-width: 767px) {
      font-size: 18px;
    }

    @media screen and (min-width: 768px) {
      font-size: 12px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 21px;
    margin-left: 84px;
    text-align: left;
    .item:nth-child(1) {
      padding-bottom: 10px;
    }
  }
}
