.current::after {
  position: absolute;
  display: block;
  content: "";
  right: 0;

  @media screen and (max-width: 767px) {
    bottom: -8px;
  }
  @media screen and (min-width: 768px) {
    bottom: -24px;
  }

  height: 4px;
  background-color: $accent-color;
  border-radius: 2px;
  width: 100%;

  opacity: 1;
}
