.mail,
.phone {
  fill: $color3;
  margin-right: 10px;
  transition: fill $timing cubic-bezier(0.4, 0, 0.2, 1);
  .link-contact:hover &,
  .link-contact:focus & {
    fill: $accent-color;
  }
}
.item-icons.phone {
  width: 10px;
  height: 15px;
}
.item-icons.mail {
  width: 16px;
  height: 11px;
}
