.menu-container {
  background-color: #fff;
  text-align: center;
  z-index: 3;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    margin-left: 88px;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    vertical-align: middle;
  }
}
.menu-icon {
  display: block;
  width: 40px;
  height: 40px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.button-menu {
  position: absolute;
  right: 0;
  top: 0;

  transform: translateX(10px) translateY(10px);
  display: inline-flex;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  .icon-cross {
    display: none;
  }
  &.is-open .icon-cross,
  &.is-open ~ .menu-container {
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }
}
