$main-color: #757575;
$title-text-color: #000000;
$accent-color: #2196f3;
$bcg-color: #ffffff;
$work-color: rgba(47, 48, 58, 0.8);
$hero-bcg: #2f303a;
$contact-color: rgba(255, 255, 255, 0.6);
$wl-button-color: #f5f4fa;
$wl-text-button-color: #212121;
$timing: 250ms;
$color3: #afb1b8;
