.icon-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-align: center;
  transition: background-color $timing cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
.social-svg {
  width: 20px;
  height: 20px;
  margin: auto;
  fill: $color3;
  transition: fill $timing cubic-bezier(0.4, 0, 0.2, 1);

  .icon-link:hover &,
  .icon-link:focus & {
    fill: $bcg-color;
  }
}
