.container-skills-icons {
  height: 120px;
  align-items: center;
  background-color: $wl-button-color;
  padding-top: 25px;
  padding-bottom: 25px;
}
.skills-icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  height: 70px;
}
