.skills {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
}
.skills-item {
  h3 {
    padding-top: 30px;
    color: $title-text-color;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
  p {
    @media screen and (max-width: 1199px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc(50% - 15px);

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
